<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand " style="font-size: 25px; font-weight: bolder;" href="/">CMS</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar" style="width: 70%;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-warning" href="./customer">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="./add-customer">Add Customer</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" style="width: 30%;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-info" href="./signin">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="./signup">Sign Up</a>
      </li>
    </ul>
</nav>