<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("__bootstrap.ejs") %>
    <title>Update Details</title>
</head>
<body style="background-color: cornsilk; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <%- include("__header.ejs")%>


</body>
</html>